<section id="main">
  <section id="left-panel">
    <div class="nav">
      <div class="text">
        <h3 class="hug collapse">Groups</h3>
      </div>
      <div class="action">
        <div class="add_outer"><%= link_to 'add', new_group_path, data: { turbo_frame: "newGroup" }, class: 'material-symbols-outlined hover bigger-icon' %></div>
        <div class="remove_outer"><%= link_to 'remove', '#', data: { turbo_frame: "newGroup" }, class: 'material-symbols-outlined hover bigger-icon' %></div>
        <div class="action-more hover">
          <%= link_to "more_horiz", '#', data: { turbo: false }, class: 'material-symbols-outlined bigger-icon'%>
          <div class="action-more-open">
            <%= link_to 'person', '#', data: { turbo: false }, class: 'material-symbols-outlined bigger-icon scale-up'%>
            <%= link_to 'logout', destroy_user_session_path, data: { turbo_method: :delete }, class: 'material-symbols-outlined bigger-icon scale-up'%>
          </div>
        </div>
      </div>
    </div>
    <div class="content">
      <div class="lists">
        <%= render 'group-list' %>
      </div>
      <%= turbo_frame_tag 'newGroup' do %>
      <% end %>
    </div>
  </section>
  <%= turbo_frame_tag 'middle-panel' do %>
  <% end %>
  <%= turbo_frame_tag 'right-panel' do %>
  <% end %>
</section>