<%= turbo_frame_tag 'middle-panel' do %>
  <div class="nav">
    <div class="text">
      <span class="material-symbols-outlined collapse-m-p">
        close
      </span>
      <h3 class="hug">Tasks</h3>
    </div>
    <div class="action">
      <div class="add_outer"><%= link_to 'add', new_subcategory_path, data: { turbo_frame: "newSub#{@list.id}" }, class: 'material-symbols-outlined hover bigger-icon' %></div>
      <div class="remove_outer"><%= link_to 'remove', list_path, data: { turbo_frame: "newSub#{@list.id}" }, class: 'material-symbols-outlined hover bigger-icon' %></div>
    </div>
  </div>
  <div class="content">
    <div class="tags">
      <div class="tag">
        <%= @list.group.name %>
      </div>
      <div class="tag">
        <%= @list.name %>
      </div>
    </div>
    <div class="lists">
      <% @list.subcategories.each do |sub| %>
        <div class="list">
          <div class="opt-tg">
            <details>
              <summary>
                <%= sub.name %>
                <div class="action">
                  <div class="add"><%= link_to 'add', new_task_path, data: { turbo_frame: "newTask#{sub.id}" }, class: 'material-symbols-outlined hover smaller-icon' %></div>
                  <div class="remove"><%= link_to 'remove', list_path, data: { turbo_frame: "newTask#{sub.id}" }, class: 'material-symbols-outlined hover smaller-icon' %></div>
                  <div class="options hover">
                    <%= link_to "more_horiz", '#', data: { turbo: false }, class: 'material-symbols-outlined smaller-icon'%>
                    <div class="options-open">
                      <%= link_to 'edit', edit_subcategory_path(sub), data: { turbo_frame: "editSub#{sub.id}"}, class: 'material-symbols-outlined smaller-icon scale-up edit'%>
                      <%= link_to 'delete', subcategory_path(sub), data: { turbo_method: :delete, turbo_frame: "_top" }, class: 'material-symbols-outlined smaller-icon scale-up delete'%>
                    </div>
                  </div>
                </div>
              </summary>
              <div id="items">
                <%= turbo_frame_tag "tasks" do %>
                  <% sub.tasks.each do |task| %>
                    <%= render partial: task, locals: { task: task } %>
                  <% end %>
                <% end %>
                <%= turbo_frame_tag "newTask#{sub.id}" do %>
                <% end %>
              </div>
            </details>
          </div>
        </div>
        <%= turbo_frame_tag "editSub#{sub.id}" do %>
        <% end %>
      <% end %>
    </div>
    <%= turbo_frame_tag "newSub#{@list.id}" do %>
    <% end %>
  </div>
<% end %>