<%= turbo_frame_tag "right-panel" do %>
  <div class="nav">
    <div class="text">
      <span class="material-symbols-outlined collapse-r-p">
        close
      </span>
      <h3 class="hug">Task details</h3>
    </div>
    <div class="action-more hover">
      <%= link_to "more_horiz", '#', data: { turbo: false }, class: 'material-symbols-outlined bigger-icon'%>
      <div class="action-more-open">
        <%= link_to 'edit', edit_desc_task_path, data: { turbo_frame: "desc#{@task.id}" }, class: 'material-symbols-outlined bigger-icon scale-up'%>
        <%= link_to 'delete', task_path(@task), data: { turbo_method: :delete, turbo_frame: "_top" }, class: 'material-symbols-outlined bigger-icon scale-up delete'%>
      </div>
    </div>
  </div>
  <div class="content">
    <div class="title">
      <h4><%= @task.name %></h4>
    </div>
    <%= turbo_frame_tag "desc#{@task.id}" do %>
      <%= render partial: 'task_desc', locals: { task: @task } %>
    <% end %>
    <div class="tags">
      <div class="tag">
        <%= @task.subcategory.name %>
      </div>
      <div class="tag" style="background-color: <%= @task.done ? '#9EF597' : '#84D5F5' %>;">
        <%= @task.done ? "Done" : "Ongoing" %>
      </div>
    </div>
    <div class="user-info">
    </div>
  </div>
<% end %>