<%= turbo_frame_tag group do %>
  <div class="opt-tg">
    <details>
      <summary>
        <%= group.name %>
        <div class="action">
          <div class="add"><%= link_to 'add', new_list_path, data: { turbo_frame: "newList#{group.id}" }, class: 'material-symbols-outlined hover smaller-icon' %></div>
          <div class="remove"><%= link_to 'remove', '#', data: { turbo_frame: "newList#{group.id}" }, class: 'material-symbols-outlined hover smaller-icon' %></div>
          <div class="options hover">
            <%= link_to "more_horiz", '#', data: { turbo: false }, class: 'material-symbols-outlined smaller-icon'%>
            <div class="options-open">
              <%= link_to 'edit', edit_group_path(group), data: { turbo_frame: "editGroup#{group.id}"}, class: 'material-symbols-outlined smaller-icon scale-up edit'%>
              <%= link_to 'delete', group_path(group), data: { turbo_method: :delete, turbo_frame: "_top" }, class: 'material-symbols-outlined smaller-icon scale-up delete'%>
            </div>
          </div>
        </div>
      </summary>
      <% group.lists.each do |list| %>
        <div class="item opt-tg">
          <%= link_to list.name, list_path(list), data: { turbo_frame: "middle-panel"}, id: 'list_tg' %>
          <div class="options hover">
            <%= link_to "more_horiz", '#', data: { turbo: false }, class: 'material-symbols-outlined smaller-icon'%>
            <div class="options-open">
              <%= link_to 'edit', edit_list_path(list), data: { turbo_frame: "editList#{list.id}"}, class: 'material-symbols-outlined smaller-icon scale-up edit'%>
              <%= link_to 'delete', list_path(list), data: { turbo_method: :delete, turbo_frame: "_top" }, class: 'material-symbols-outlined smaller-icon scale-up delete'%>
            </div>
          </div>
        </div>
        <%= turbo_frame_tag "editList#{list.id}" do %>
        <% end %>
      <% end %>
      <%= turbo_frame_tag "newList#{group.id}" do %>
      <% end %>
    </details>
  </div>
<% end %>