<div class="bg-white f-col-center g-10">
  <h2 class="hug">Log in</h2>
  <div class="f-col w-20 g-10">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'w-100 i-text', placeholder: "Email..." %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", class: 'w-100 i-text', placeholder: "Password..." %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field f-row-center g-4">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", class: "btn-primary" %>
      </div>
    <% end %>
    <div class="links f-col">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
